.home {
  .top-side {
    display: flex;
    gap: 60px;
    padding: 40px;
    align-items: flex-start;

    .left {
      flex: 4;
      overflow: hidden;
      height: 350px;
      img {
        max-height: 100%;
        max-width: unset;
      }
    }

    .right {
      flex: 5;
      text-align: justify;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 260px;
      margin-bottom: -30px;
      margin-top: -140px;
    }
  }

  .post-list {
    display: flex;
    gap: 40px;

    li {
      flex: 1;
      border: 2px solid #000;
      padding: 20px 30px;
      text-align: center;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
        max-width: 75%;
      }
    }
  }

  .button-link {
    &-top {
      position: absolute;
    }
    background-color: $grey-color;
    color: white;
    font-variant: petite-caps;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
    &:hover {
      background-color: $font-color-lighter;
    }
  }
}

@media (max-width: 425px) {
  .home {
    .top-side {
      flex-direction: column;

      .left img {
        width: 100%;
      }
    }

    .button-link.button-link-top {
      position: relative;
    }

    .separator img {
      margin-top: -100px;
      height: unset;
      width: 100%;
    }

    .post-list {
      flex-direction: column;
    }
  }
}