.home {
  .top-side {
    display: flex;
    gap: 60px;
    padding: 0 30px;
    align-items: center;

    .left {
      flex: 2;
    }

    .right {
      flex: 3;
      text-align: justify;
    }
  }

  .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;

    img {
      height: 260px;
    }
  }

  .post-list {
    display: flex;
    gap: 40px;

    li {
      flex: 1;
      border: 2px solid #000;
      padding: 30px;
      text-align: justify;

      h3 {
        text-align: center;
      }
    }
  }
}